<a href="https://colab.research.google.com/github/pattaradanai-lks/DADS5001/blob/main/6610412011_Housing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.linear_model import LinearRegression
import pickle
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt #dpi 600
import seaborn as sns
np.set_printoptions(suppress=True)

In [ ]:
url = "https://raw.githubusercontent.com/pattaradanai-lks/DADS5001/main/Housing.csv"
data = pd.read_csv(url)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [ ]:
print(data.head())
print(data.shape)
print(data.info())
print(data.describe())

      price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000  7420         4          2        3      yes        no       no
1  12250000  8960         4          4        4      yes        no       no
2  12250000  9960         3          2        2      yes        no      yes
3  12215000  7500         4          2        2      yes        no      yes
4  11410000  7420         4          1        2      yes       yes      yes

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3       no        furnished
2              no              no        2      yes   semi-furnished
3              no             yes        3      yes        furnished
4              no             yes        2       no        furnished
(545, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB
None
              price          area    bedrooms   bathrooms     stories  \
count  5.450000e+02    545.000000  545.000000  545.000000  545.000000
mean   4.766729e+06   5150.541284    2.965138    1.286239    1.805505
std    1.870440e+06   2170.141023    0.738064    0.502470    0.867492
min    1.750000e+06   1650.000000    1.000000    1.000000    1.000000
25%    3.430000e+06   3600.000000    2.000000    1.000000    1.000000
50%    4.340000e+06   4600.000000    3.000000    1.000000    2.000000
75%    5.740000e+06   6360.000000    3.000000    2.000000    2.000000
max    1.330000e+07  16200.000000    6.000000    4.000000    4.000000

          parking
count  545.000000
mean     0.693578
std      0.861586
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      3.000000

In [ ]:
# mapping for change string to number
mapping1 = {"yes": 1, "no": 0}
data["mainroad"] = data["mainroad"].map(mapping1)
data["guestroom"] = data["guestroom"].map(mapping1)
data["basement"] = data["basement"].map(mapping1)
data["hotwaterheating"] = data["hotwaterheating"].map(mapping1)
data["airconditioning"] = data["airconditioning"].map(mapping1)
data["prefarea"] = data["prefarea"].map(mapping1)

mapping2 = {"furnished": 1 ,"semi-furnished": 0.5,"unfurnished":0}
data["furnishingstatus"] = data["furnishingstatus"].map(mapping2)

#X = data[["area","rooms","bathrooms","stories",...,"furnushigstatus"]]
X = data.iloc[:,1:13]
print(X.head())

   area  bedrooms  bathrooms  stories  mainroad  guestroom  basement  \
0  7420         4          2        3         1          0         0
1  8960         4          4        4         1          0         0
2  9960         3          2        2         1          0         1
3  7500         4          2        2         1          0         1
4  7420         4          1        2         1          1         1

   hotwaterheating  airconditioning  parking  prefarea  furnishingstatus
0                0                1        2         1               1.0
1                0                1        3         0               1.0
2                0                0        2         1               0.5
3                0                1        3         1               1.0
4                0                1        2         0               1.0

In [ ]:
#y = data.price
#y = data.iloc[:,0]
y = data[["price"]]
print(y.head())

      price
0  13300000
1  12250000
2  12250000
3  12215000
4  11410000

In [ ]:
from sklearn.model_selection import train_test_split

# แบ่งข้อมูลเป็น train set 80% และ test set 20%
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


# Train model
print("Train")
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)  # training process
print(type(lin_reg.intercept_))  # theta0
print(type(lin_reg.coef_))  # theta1, theta2,...

# Predict on test set
print("Predict")
result = lin_reg.predict(X_test)
print(result)



from sklearn.metrics import mean_squared_error

# ทำนายบนชุดทดสอบ
y_pred = lin_reg.predict(X_test)

# คำนวณ MSE
mse = mean_squared_error(y_test, y_pred)


from sklearn.metrics import r2_score

# ทำนายบนชุดทดสอบ
y_pred = lin_reg.predict(X_test)

# คำนวณ R-squared
r_squared = r2_score(y_test, y_pred)

Train
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
Predict
[[5203691.70963177]
 [7257004.02115475]
 [3062828.59668172]
 [4559591.65374424]
 [3332932.30559782]
 [3563080.67918997]
 [5645466.31219972]
 [6413979.66873635]
 [2755831.54819   ]
 [2668938.66075229]
 [9570600.29915352]
 [2827431.50860062]
 [3195686.2583409 ]
 [3352263.99438471]
 [3713879.49996132]
 [5301088.24435749]
 [2987920.2666968 ]
 [4810799.8212371 ]
 [4383031.7048993 ]
 [3525092.18938647]
 [5796259.50068012]
 [5840000.70299301]
 [2760214.608641  ]
 [4762590.14920608]
 [5204755.73895206]
 [7515542.71619024]
 [3254681.68956382]
 [5236164.45964444]
 [8178523.16820284]
 [3434166.15675649]
 [6443921.58767581]
 [3346004.77919184]
 [6742324.74004132]
 [4154936.84088665]
 [3589152.47491252]
 [5788125.92515322]
 [4768370.18154077]
 [4391684.04193172]
 [3217657.04549935]
 [4638196.61928878]
 [4522160.27786714]
 [3541284.06127245]
 [7238136.1194117 ]
 [4021515.68926614]
 [3701978.76822757]
 [4298879.55563098]
 [6705004.0206061 ]
 [3993466.52296896]
 [3798185.05328059]
 [3451821.5624289 ]
 [7293996.86867461]
 [2832905.26972678]
 [4378698.1476993 ]
 [4468002.85418353]
 [3714623.89765883]
 [2718466.9028278 ]
 [7524449.64983625]
 [2950437.1495281 ]
 [4194596.28592921]
 [2795827.77318101]
 [4801788.72577028]
 [3618230.29875972]
 [5091685.77019752]
 [4248122.70647652]
 [4729964.20281946]
 [4620982.9363411 ]
 [7215846.76983926]
 [3485106.19132682]
 [5933820.14349913]
 [6236580.98095548]
 [4809923.61015999]
 [5130920.22938947]
 [4527282.87392583]
 [8006869.07208366]
 [3543927.63713716]
 [5463086.05281816]
 [3902441.28505163]
 [4661063.63495886]
 [4825370.89331733]
 [4276803.47099967]
 [7754072.71344458]
 [4008573.23235629]
 [6500977.91345038]
 [5386796.00909808]
 [2785343.0092764 ]
 [6836356.36771845]
 [2638553.49378047]
 [3634231.99215348]
 [8004072.41154   ]
 [8048399.75418243]
 [3227573.69687309]
 [5935167.4198354 ]
 [3605772.48317455]
 [3817767.91420862]
 [7631673.34074557]
 [4775106.62670537]
 [5093491.4444293 ]
 [6447437.14797692]
 [4943449.6813564 ]
 [5943929.14295426]
 [3810460.26405425]
 [6457426.32302761]
 [3701491.23218178]
 [5960492.47343073]
 [4933137.14530295]
 [4377133.13624287]
 [7009335.02696998]
 [6351460.97128316]
 [6409340.41089671]]

In [ ]:
print(f'Mean Squared Error (MSE) on Test Set: {mse}')
print(f'R-squared on Test Set: {r_squared}')

Mean Squared Error (MSE) on Test Set: 1771751116594.0361
R-squared on Test Set: 0.6494754192267802