In [19]:
import pandas as pd
import numpy as np

In [20]:
url = "https://raw.githubusercontent.com/pattaradanai-lks/EPL2021-2022/main/2021-2022.csv"
epl = pd.read_csv(url)
epl

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,0,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,1,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,2,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

# 1. Simple stats 3 questions

In [21]:
#1.1 มีทีมอะไรบ้างใน EPL 2021-2022

pd.DataFrame(epl["HomeTeam"].unique(), columns=['Team'])

              Team
0        Brentford
1       Man United
2          Burnley
3          Chelsea
4          Everton
5        Leicester
6          Watford
7          Norwich
8        Newcastle
9        Tottenham
10       Liverpool
11     Aston Villa
12  Crystal Palace
13           Leeds
14        Man City
15        Brighton
16     Southampton
17          Wolves
18         Arsenal
19        West Ham

In [22]:
#1.2 ทีมใดทำประตูในฐานะการเป็นทีมเยือน(Away Team)ต่อ1นัดเยอะที่สุด

team_with_max_home_goals = epl.loc[epl['FTAG'].idxmax()]['AwayTeam']
max_home_goals = epl['FTAG'].max()

print(f"ทีมที่ทำประตูเยอะที่สุดเป็นทีม {team_with_max_home_goals} ด้วยจำนวนประตูทั้งหมด {max_home_goals} ประตู")

ทีมที่ทำประตูเยอะที่สุดเป็นทีม Chelsea ด้วยจำนวนประตูทั้งหมด 6 ประตู

In [23]:
#1.3 แต่ละทีมทำประตูในฐานะการเป็นทีมเหย้า(HomeTeam)ตลอดทั้งฤดูกาลเป็นจำนวนเท่าไร

total_home_goals_by_team = epl.groupby('HomeTeam')['FTHG'].sum()
total_home_goals_by_team_sorted = total_home_goals_by_team.sort_values(ascending=False)

print(total_home_goals_by_team_sorted)

HomeTeam
Man City          58
Liverpool         49
Tottenham         38
Chelsea           37
Arsenal           35
Leicester         34
West Ham          33
Man United        32
Aston Villa       29
Crystal Palace    27
Everton           27
Newcastle         26
Southampton       23
Brentford         22
Wolves            20
Leeds             19
Brighton          19
Burnley           18
Watford           17
Norwich           12
Name: FTHG, dtype: int64

# 2. Advanced 2 questions

In [24]:
#2.1ทีมใดที่โดนนำในครึ่งแรกแล้วสุดท้ายกลับมาชนะได้มากที่สุด

# กรองข้อมูลทีมที่แพ้ในครึ่งแรกแล้วชนะท้ายที่สุด
comeback_teams = epl[(epl['HTR'] == 'A') & (epl['FTR'] == 'H') | (epl['HTR'] == 'H') & (epl['FTR'] == 'A')]

# นับจำนวนการเปลี่ยนแปลงผลลัพธ์ของการแข่งขัน
comeback_counts_by_team = comeback_teams.groupby('HomeTeam').size() + comeback_teams.groupby('AwayTeam').size()

# หาทีมที่มีการcomebacksที่สุด
team_with_max_comebacks = comeback_counts_by_team.idxmax()
max_comebacks = comeback_counts_by_team.max()

print(f"ทีมที่แพ้ในครึ่งแรกแล้วกลับมาชนะมากที่สุดคือทีม {team_with_max_comebacks} ทั้งหมด {max_comebacks} ครั้ง")

ทีมที่แพ้ในครึ่งแรกแล้วกลับมาชนะมากที่สุดคือทีม Everton ทั้งหมด 5.0 ครั้ง

In [25]:
#2.2ทีมที่ได้โอกาศยิงเยอะที่สุด กับทีมที่ยิงตรงกรอบมากที่สุด และทีมที่ยิงประตูมากที่สุดใช่ทีมเดียวกันหรือไม่ ถ้าไม่ใช่แล้วทีมนั้นคือทีมอะไรบ้าง

total_shots_by_team = epl.groupby('HomeTeam')['HS'].sum() + epl.groupby('AwayTeam')['AS'].sum()
team_with_max_total_shots = total_shots_by_team.idxmax()
max_total_shots = total_shots_by_team.max()

print(f"ทีมที่ได้โอกาสยิง(HS+AS)มากที่สุดคือทีม {team_with_max_total_shots} ด้วยโอกาสการยิงรวม {max_total_shots} ครั้ง")

total_shots_by_team = epl.groupby('HomeTeam')['HST'].sum() + epl.groupby('AwayTeam')['AST'].sum()
team_with_max_total_shots = total_shots_by_team.idxmax()
max_total_shots = total_shots_by_team.max()

print(f"ทีมที่ยิงตรงกรอบ(HST+AST)มากที่สุดคือทีม {team_with_max_total_shots} ด้วยจำนวนการยิงตรงกรอบ {max_total_shots} ครั้ง")

total_shots_by_team = epl.groupby('HomeTeam')['FTHG'].sum() + epl.groupby('AwayTeam')['FTAG'].sum()
team_with_max_total_shots = total_shots_by_team.idxmax()
max_total_shots = total_shots_by_team.max()

print(f"ทีมที่มีจำนวนการยิงประตูรวม(FTHG+FTAG)มากที่สุดคือทีม {team_with_max_total_shots} ด้วยจำนวนการยิงรวม {max_total_shots} ประตู")

ทีมที่ได้โอกาสยิง(HS+AS)มากที่สุดคือทีม Liverpool ด้วยโอกาสการยิงรวม 730 ครั้ง
ทีมที่ยิงตรงกรอบ(HST+AST)มากที่สุดคือทีม Liverpool ด้วยจำนวนการยิงตรงกรอบ 256 ครั้ง
ทีมที่มีจำนวนการยิงประตูรวม(FTHG+FTAG)มากที่สุดคือทีม Man City ด้วยจำนวนการยิงรวม 99 ประตู